@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: rgb(35, 35, 41);
  font-weight: 400;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.header_section {
  background-color: rgb(172, 173, 204);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 332px;
  width: 1400px;
}

section.header_section div {
  background-color: rgb(208, 208, 208);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 55%;
  width: 80%;
}
h1 {
  margin: 10px;
  font-size: 40px;
  font-weight: 400;
}
h2 {
  margin: 10px;
  font-size: 28px;
}

section + section {
  background-color: rgb(254, 254, 254);
  height: 728px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  width: 1400px;
  list-style: none;
  display: flex;
  justify-content: center;
}
li {
  text-align: center;
  width: 15%;
  height: 489px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: start;
}

li:nth-child(even) {
  flex-direction: column;
  justify-content: end;
}

li div:nth-child(1) {
  width: 98%;
  height: 15px;
  transform: skew(-45deg);
  margin: 10px;
}

li div:nth-child(2) {
  width: 2px;
  height: 50px;
  margin: 10px;
}
li div:nth-child(3) {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

ul li:nth-of-type(1) div {
  background-color: rgb(255, 58, 31);
}
ul li:nth-of-type(2) div {
  background-color: rgb(255, 103, 95);
}
ul li:nth-of-type(3) div {
  background-color: rgb(178, 179, 180);
}
ul li:nth-of-type(4) div {
  background-color: rgb(172, 173, 204);
}
ul li:nth-of-type(5) div {
  background-color: rgb(135, 50, 153);
}

h3 {
  font-size: 60px;
  line-height: 100%;
  margin: 15px 0 15px 0;
}

p {
  width: 250px;
  font-size: 20px;
  line-height: 100%;
}
span {
  color: rgb(255, 107, 87);
}

/* media */
@media (min-width: 390px) {
  section.header_section {
    height: auto;
    width: 100vw;
  }
  section.header_section div {
    height: auto;
    width: auto;
    margin: 5vw 5vw 0 5vw;
  }

  h1 {
    margin: 10px;
    font-size: 30px;
    text-align: center;
  }
  h2 {
    margin: 10px;
    font-size: 25px;
    text-align: center;
  }
  section + section {
    height: auto;
    width: 100vw;
  }
  ul {
    width: auto;
    flex-direction: column;
  }
  li {
    margin-top: 15px;
    width: auto;
    height: auto;
  }
  li:nth-child(even) {
    flex-direction: column-reverse;
  }
  li div:nth-child(1) {
    width: 90vw;
  }
}
